* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    color: #ededed;
}

/*nama aku*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #03abff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/*logo nama*/

.logo {
    position: relative;
    font-size: 25px;
    color: darkslategray;
    text-decoration: none;
    font-weight: 800;
}


.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: darkslategray;
    font-weight: 600;
    margin-left: 35px;
    transition: 2s;
}

.navbar a:hover,
.navbar a.active {
    color: #ededed;

}

.home {
    height: 100vh;
    background: url('../img/hero1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;

}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;

}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #403df2;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;

}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;


}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #403df2;
    border: 2px solid #403df2;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}

.btn-box a:hover {
    color: #ededed;

}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #403df2;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;

}


.btn-box a:nth-child(2)::before {
    background: #403df2;

}



.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before {
    width: 100%;

}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;


}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #403df2;
    border-radius: 50%;
    font-size: 20px;
    color: #403df2;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #403df2;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;

}

.profile,
.education,
.hobby,
.contact {
    padding: 10rem 7% 1.4rem;
}

.profile h1,
.education h1,
.hobby h1,
.contact h1 {
    text-align: center;
    color: #403df2;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.profile .row {
    color: #081b29;
    display: flex;

}

.profile .row .profile-img {
    flex: 1 1 45rem;

}

.profile .row .profile-img img {
    width: 100%;
}

.profile .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.profile .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.profile .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
}


/* Education Section */
.education h1,
.contact h1 {
    margin-bottom: 1rem;
    color: #403df2;
    text-align: center;

}

.education h3 {
    color: #081b29;
    padding-left: 2rem;
}

.education p,
.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
    color: #081b29;
}

.education .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.education .row .education-card {
    text-align: center;
    padding-bottom: 4rem;
}

.education .row .education-card img {
    border-radius: 75%;
    width: 50%;
}

.education .row .education-card .education-card-title {
    margin: 1rem auto 0.5rem;
}

/* Hobby Section */
.hobby h1 {
    margin-bottom: 1rem;
    color: #403df2;
    text-align: center;

}

.hobby h3 {
    color: #081b29;
    padding-left: 2rem;
}

.hobby p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
    color: #081b29;
}

.hobby .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.hobby .row .hobby-card {
    text-align: center;
    padding-bottom: 4rem;
}

.hobby .row .hobby-card img {
    border-radius: 75%;
    width: 50%;

}

.hobby .row .hobby-card .hobby-card-name {
    margin: 1rem auto 0.5rem;
}


/* Contact Section */
.contact .row {
    display: flex;
    margin-top: 2rem;
}

/* KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}